
main{

  .first_section{
    background-color: $main_background_color;
    padding: 35px 0;

    .traditional_people{
      flex-direction: column;

      h1{
        color: $font_color;
        text-align: center;
      }
  
      .traditional_box{
        width: 100%;
        margin-top: 40px;
  
        .traditional_card_container{
          width: calc(100% / 3);
  
          .traditional_card{
            flex-direction: column;
            align-items: center;
            justify-content: center;
    
            p{
              margin-top: 15px;
            }
    
            img{
              /* width: 200px; */
              height: 150px;
            }
          }
        }
  
      }
  
      .bunny_img{
        height: 300px;
        margin: 40px auto;
      }

      hr{
        margin: 60px 0;
      }
    }

    
  }

  .second_section{
    padding: 80px 10px;

    .box_container{
      width: 100%;
      margin-bottom: 20px;

      .card_img{
        width: 50%;
        height: fit-content;

        img{
          width: 100%;
        }
      }

      .card_info{
        width: 25%;
        height: fit-content;
        color: $font_color;
        font-size: 1.3em;
        line-height: 2em;
        
        p{
          margin: 90px 0 40px 0;
        }

        img{
          margin-top: 20px;
          height: 230px;
        }
      }
    }

    .box_container.surveys, .box_container.praise{
      justify-content: flex-end;
    }
  }

  .third_section{
    color: $font_color;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    background-color: $main_background_color;

    h1{
      font-size: 3em;
      text-align: center;
      line-height: 1.5em;
    }

    .user_experience{
      margin-top: 2em;
      width: 40%;
      border: 2px solid $signup_color;
      padding: 20px;
      border-radius: 15px;
      background-color: white;

      .user_img_box{
        align-items: center;

        img{
          width: 50px;
          margin: 15px 15px 0 0;
        }

        span:nth-child(1){
          color: $signup_color;
        }
      }
    }

    .user_signup{
      margin-top: 40px;
      align-items: center;

      .btn_signup {
        width: fit-content;
        padding: 5px 7px;
        border-radius: 5px;
        background-color: $signup_color;
        cursor: pointer;
        align-items: center;
        color: white;

        img {
          height: 30px;
          margin-right: 10px;
        }
      }

      span {
        margin: 0 10px
      }
    }
  }
    
}