@media screen and (max-width: 998px) {

  nav{
    .navbar_right{
      display: none;
    }
  
    .navbar_right_hamburger {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: $font_color;
      font-size: 25px;
    }
  }

}