/* navbar */

nav{
  padding: 10px 0;
  border-bottom: 2px solid black;

  .navbar_left{
    width: 50%;
    align-items: center;
  }

  .navbar_right{
    width: 50%;
    justify-content: flex-end;
    
    img{
      height: 25px;
    }

    .nav_list{
      list-style: none;
      align-items: center;
      margin-right: 10px;

      li{
        padding: 5px;
      }
    }

    .btn{
      color: blue;
      align-items: center;
      padding: 10px 5px;
      border: 2px solid blue;
      border-radius: 18%;
    }
  }

  .navbar_right_hamburger{
    display: none;
  }
}